<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/3033bea2-5efa-42e9-913c-f98de0442927/resourceGroups/TccPos/providers/Microsoft.ContainerRegistry/registries/TccPosContainer</ContainerResourceId>
    <ContainerResourceName>TccPosContainer</ContainerResourceName>
    <Subscription>Avaliação Gratuita</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://tccposcontainer.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3033bea2-5efa-42e9-913c-f98de0442927/resourcegroups/TccPos/providers/Microsoft.Web/sites/CIPAPISGQ</ResourceId>
    <ResourceGroup>TccPos</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cipapisgq.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7b47eb56-72b2-496f-9864-9475e8037520</ProjectGuid>
  </PropertyGroup>
</Project>